

.position {
	margin-left: 40%;
}

#grill {
	background-image: url("images/bbq-grass.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

h1{
	font-size: 70px;
	color: rgba(212, 59, 28,.7);
	padding: 30px 0;
	border: 1px solid yellow;
	border-radius: 10px;
	text-align: center;
}
.list{
	margin: 25px 0;
}
.add{
	border: 1px solid yellow;
	margin: 30px 20%;
	padding: 5px;
	border-radius: 10px;
	background-color: rgba(212, 59, 28,.7);
	text-align: center;
}

.plus{
	width:90%;
	border:none;
	text-align: center;
	background-color:rgba(0, 0, 0,0);
	font-size: 20px;
	text-align: center;
}

input:focus {
	outline:none;
}

.add:hover{
	border: 1px solid black;
}
p{
	font-size: 35px;
	color: rgba(212, 59, 28,.9);
	text-align: center;
	
}
.a1{
	font-size: 20px;
	color: red;
	margin: 10px 30%;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid yellow;
	text-align: center;
	background-color: rgba(212, 59, 28,.7);
}

li{
	border: 1px solid black;
	margin: 10px 30%;
	padding: 5px;
	border-radius: 10px;
	display: none;
	font-size: 25px;
	text-align: center;
	background-color: rgba(212, 59, 28,.7);
}

.done{
	background-image: url("images/No-Barbecues.gif");
	background-repeat: no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;
}
.check{
	background-image: url("images/cooking.jpg");
	background-repeat: no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;
}
.image{
	background-image: url("images/delete.jpg");
	background-repeat: no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: right;
	cursor: pointer;
}
